<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>title</key>
		<string>prefsTest</string>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Section 0 With No Footer</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enabled</string>
				<key>key</key>
				<string>enabled</string>
				<key>default</key>
				<false/>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>label</key>
				<string>Setting2</string>
				<key>key</key>
				<string>setting2</string>
				<key>default</key>
				<integer>0</integer>
				<key>validTitles</key>
				<array>
					<string>Title1</string>
					<string>Title2</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
				<key>default</key>
				<real>20</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>100</real>
				<key>isSegmented</key>
				<true/>
				<key>segmentCount</key>
				<real>20</real>
				<key>showValue</key>
				<true/>
				<key>key</key>
				<string>setting3</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.creaturesurvive.prefsTest</string>
				<key>default</key>
				<string>Give It A Try</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>setting4</string>
				<key>label</key>
				<string></string>
				<key>placeholder</key>
				<string>Give it a try.</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListItemsController</string>
				<key>label</key>
				<string>A List</string>
				<key>key</key>
				<string>setting5</string>
				<key>default</key>
				<string>selection 1</string>
				<key>validTitles</key>
				<array>
					<string>selection 0</string>
					<string>selection 1</string>
					<string>selection 2</string>
					<string>selection 3</string>
					<string>selection 4</string>
					<string>selection 5</string>
				</array>
				<key>validValues</key>
				<array>
					<string>selection 0</string>
					<string>selection 1</string>
					<string>selection 2</string>
					<string>selection 3</string>
					<string>selection 4</string>
					<string>selection 5</string>
				</array>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListFontsController</string>
				<key>label</key>
				<string>Font Family</string>
				<key>key</key>
				<string>setting11</string>
				<key>default</key>
				<string>Helvetica Neue</string>
				<key>titlesDataSource</key>
				<string>fontNames</string>
				<key>valuesDataSource</key>
				<string>fontNames</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Section 1</string>
				<key>footerText</key>
				<string>with some footer text</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enabled</string>
				<key>key</key>
				<string>enabled1</string>
				<key>default</key>
				<false/>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>label</key>
				<string>Setting2</string>
				<key>key</key>
				<string>setting7</string>
				<key>default</key>
				<integer>0</integer>
				<key>validTitles</key>
				<array>
					<string>Title1</string>
					<string>Title2</string>
				</array>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
				<key>default</key>
				<real>20</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>100</real>
				<key>isSegmented</key>
				<true/>
				<key>segmentCount</key>
				<real>20</real>
				<key>showValue</key>
				<true/>
				<key>key</key>
				<string>setting8</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>com.creaturesurvive.prefsTest</string>
				<key>default</key>
				<string>Give It A Try</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>setting9</string>
				<key>label</key>
				<string></string>
				<key>placeholder</key>
				<string>Give it a try.</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>detail</key>
				<string>CSListItemsController</string>
				<key>label</key>
				<string>A List</string>
				<key>key</key>
				<string>setting10</string>
				<key>default</key>
				<string>selection 1</string>
				<key>validTitles</key>
				<array>
					<string>selection 0</string>
					<string>selection 1</string>
					<string>selection 2</string>
					<string>selection 3</string>
					<string>selection 4</string>
					<string>selection 5</string>
				</array>
				<key>validValues</key>
				<array>
					<string>selection 0</string>
					<string>selection 1</string>
					<string>selection 2</string>
					<string>selection 3</string>
					<string>selection 4</string>
					<string>selection 5</string>
				</array>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://github.com/CreatureSurvive/CSPreferences</string>
				<key>icon</key>
				<string></string>
				<key>label</key>
				<string>a github link</string>
			</dict>

			<dict>
				<key>action</key>
				<string>email:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>mailto</key>
				<string>mailto:support@creaturecoding.com?subject=CSPreferences%20v0.0.1</string>
				<key>icon</key>
				<string></string>
				<key>label</key>
				<string>email someone</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>pushPlist</key>
				<string>Root0</string>
				<key>label</key>
				<string>open another page</string>
				<key>headerTitle</key>
				<string>Another Page</string>
				<key>headerSubtitle</key>
				<string>test</string>
			</dict>

			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>pushPlist</key>
				<string>Root00</string>
				<key>label</key>
				<string>dev cell stress test</string>
				<key>headerTitle</key>
				<string>Developer Cells</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Hopefully a radio group</string>
				<key>isRadioGroup</key>
				<true/>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Toggle 1</string>
				<key>key</key>
				<string>toggle1</string>
				<key>default</key>
				<false/>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Toggle 2</string>
				<key>key</key>
				<string>toggle2</string>
				<key>default</key>
				<false/>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Toggle 2</string>
				<key>key</key>
				<string>toggle2</string>
				<key>default</key>
				<false/>
				<key>PostNotification</key>
				<string>com.creaturecoding.prefsTest.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.prefsTest</string>
			</dict>

		</array>
	</dict>
</plist>
